<h1>Movies</h1>

<div class="container">
  <table>
    <div class="tablehead">
      <thead>
      <div class="theads">
        <tr>
          <th scope="col" colspan="2" style="text-align: right">Title</th>
          <th scope="col">Genre</th>
          <th scope="col">Actors</th>
          <th scope="col">Rating</th>
        </tr>
      </div>
      </thead>
    </div>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td scope="col"><%= image_tag movie.image.url(:medium) %></td>
          <td class="movietitle"><%= movie.title %></td>
          <td scope="col"><%= movie.genre %></td>
          <td scope="col"><%= movie.actors %></td>
          <td scope="col"><%= movie.rating %></td>
          <td><%= link_to 'Show', movie, class: "btn btn-sm btn-primary" %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie), class: "btn btn-sm btn-primary" %></td>
          <td><%= link_to 'Delete', movie, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure you want to delete this movie?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Enter A New Movie', new_movie_path, class: "btn btn-lg btn-primary" %>

